.Cart_btn {
  border: 1px solid rgb(92, 2, 2);
  display: flex;
  background-color: rgb(45, 72, 126);
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 30%;
  border-radius: 5px;
}

.strickPrice {
  text-decoration: 1.5px solid line-through red;
  color: rgb(2, 2, 70);
  font-weight: bold;
}

@media all and (min-width: 281px) and (max-width: 400px) {
  button {
    font-size: 50%;
  }
}
